In [1]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine

In [16]:
print("                         instructor lookup")
engine = create_engine("sqlite:///TestDB.db")
input_instructor = input("Enter the instructor's last name")

input_year = input("Enter the year you wish to see or type in No to see all the years:").lower()
if input_year == "no" or  input_year == "n" or  input_year == "nah" :
    
    quiry = '''SELECT FACULTY.instructor_fname,FACULTY.instructor_lname,Title,Catalog_id,Section,Semester,Year
        FROM FACULTY
            JOIN COURSE_OFFERING USING(FID)
        WHERE FACULTY.instructor_lname like '%{}'
        ORDER BY Year, Semester
        LIMIT 20'''.format(input_instructor)
    tables = pd.read_sql_query(quiry,engine)

else :
    input_semester = input("Enter the semseter you wish to see or type in No to see all the courses that the instructor is teaching in {0} :".format(input_year)).capitalize()
    if input_semester == "no" or  input_semester == "n" or  input_semester == "nah" :
        quiry = '''SELECT FACULTY.instructor_fname,FACULTY.instructor_lname,Title,Catalog_id,Section,Semester,Year
        FROM FACULTY
        JOIN COURSE_OFFERING USING(FID)
        WHERE FACULTY.instructor_lname like '%{0}' and year = {1}
        ORDER BY Year, Semester
        LIMIT 20'''.format(input_instructor , input_year )
        tables = pd.read_sql_query(quiry,engine)
    else:
        quiry = '''SELECT FACULTY.instructor_fname,FACULTY.instructor_lname,Title,Catalog_id,Section,Semester,Year
        FROM FACULTY
        JOIN COURSE_OFFERING USING(FID)
        WHERE FACULTY.instructor_lname like '%{0}' 
        AND year = {1}
        AND SEMESTER == '{2}'
        ORDER BY Year, Semester
        LIMIT 20'''.format(input_instructor ,
                           input_year , 
                           input_semester )
        tables = pd.read_sql_query(quiry,engine)
    


    

tables

                         instructor lookup

Enter the instructor's last name tao
Enter the year you wish to see or type in No to see all the years: 2018
Enter the semseter you wish to see or type in No to see all the courses that the instructor is teaching in 2018 : spring

,instructor_fname,instructor_lname,TITLE,CATALOG_ID,SECTION,SEMESTER,YEAR
0,Jie,Tao,Introduction to Information Systems,IS 0100,06,Spring,2018
1,Jie,Tao,Introduction to Information Systems,IS 0100,08,Spring,2018
2,Jie,Tao,Data Mining and Business Intelligence,IS 0540,01,Spring,2018
3,Jie,Tao,Independent Study: Business Analytics and Big ...,IS 0598,JT,Spring,2018