1. **Create / Reset a SQLite database.**

In [1]:
# load %sql magic extension
%load_ext sql

# initialize a database connection; may have to adjust username and password 
%sql sqlite:///TestCourseDataWarehouse.db

'Connected: @TestCourseDataWarehouse.db'

2. **Use SQL Create Table commands to implement the table designs from the ERD of the STAR SCHEMA DESIGN**

In [2]:
%%sql 

/* CREATE TABLE: DIMENSION_DESCRIPTION */
DROP TABLE IF EXISTS DIMENSION_DESCRIPTION;
CREATE TABLE DIMENSION_DESCRIPTION (
    DID INTEGER PRIMARY KEY NOT NULL,
    CourseTitle TEXT,
    Title TEXT,
    Attributes TEXT,
    Description TEXT
);

/* CREATE TABLE: DIMENSION_PROGRAM */
DROP TABLE IF EXISTS DIMENSION_PROGRAM;
CREATE TABLE DIMENSION_PROGRAM (
    PID INTEGER PRIMARY KEY NOT NULL,
    ProgramCode TEXT,
    ProgramName TEXT
);

/* CREATE TABLE: DIMENSION_CREDITS */
DROP TABLE IF EXISTS DIMENSION_CREDITS;
CREATE TABLE DIMENSION_CREDITS (
    CID INTEGER PRIMARY KEY NOT NULL,
    Credits TEXT
);

/* CREATE TABLE: DIMENSION_FEES */
DROP TABLE IF EXISTS DIMENSION_FEES;
CREATE TABLE DIMENSION_FEES (
    FID INTEGER PRIMARY KEY NOT NULL,
    Fees TEXT
);

/* CREATE TABLE: DIMENSION_REQUIREMENTS */
DROP TABLE IF EXISTS DIMENSION_REQUIREMENTS;
CREATE TABLE DIMENSION_REQUIREMENTS (
    RID INTEGER PRIMARY KEY NOT NULL,
    Prereqs TEXT,
    Coreqs TEXT
);

/* CREATE TABLE: DIMENSION_TIMEINTERVAL */
DROP TABLE IF EXISTS DIMENSION_TIMEINTERVAL;
CREATE TABLE DIMENSION_TIMEINTERVAL (
    TID INTEGER PRIMARY KEY NOT NULL,
    CatalogYear TEXT,
    Semester TEXT
);

/* CREATE TABLE: DIMENSION_MEETINGS */
DROP TABLE IF EXISTS DIMENSION_MEETINGS;
CREATE TABLE DIMENSION_MEETINGS (
    MID INTEGER PRIMARY KEY NOT NULL,
    Meetings TEXT,
    Day TEXT,
    Start TEXT,
    End TEXT,
    Timecodes TEXT,
    Section TEXT,
    BuildingRoom TEXT,
    BuildingName TEXT
);

/* CREATE TABLE: DIMENSION_INSTRUCTOR */
DROP TABLE IF EXISTS DIMENSION_INSTRUCTOR;
CREATE TABLE DIMENSION_INSTRUCTOR (
    IID INTEGER PRIMARY KEY NOT NULL,
    Instructor_fname TEXT,
    Instructor_lname TEXT
);

/* CREATE TABLE: FACT_COURSE */
DROP TABLE IF EXISTS FACT_COURSE;
CREATE TABLE FACT_COURSE (
    CatalogID INTEGER NOT NULL,
    RID INTEGER NULL,
    DID INTEGER NULL,
    FID INTEGER NULL,
    CID INTEGER NULL,
    TID INTEGER NULL,
    MID INTEGER NULL,
    PID INTEGER NULL,
    IID INTEGER NULL,
    FOREIGN KEY (RID) REFERENCES DIMENSION_REQUIREMENTS (RID),
    FOREIGN KEY (DID) REFERENCES DIMENSION_DESCRIPTION (DID),
    FOREIGN KEY (FID) REFERENCES DIMENSION_FEES (FID),
    FOREIGN KEY (CID) REFERENCES DIMENSION_CREDITS (CID),
    FOREIGN KEY (TID) REFERENCES DIMENSION_TIMEINTERVAL (TID),
    FOREIGN KEY (MID) REFERENCES DIMENSION_MEETINGS (MID),
    FOREIGN KEY (PID) REFERENCES DIMENSION_PROGRAM (PID),
    FOREIGN KEY (IID) REFERENCES DIMENSION_INSTRUCTOR (IID)
);

 * sqlite:///TestCourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
SELECT *
FROM FACT_COURSE

 * sqlite:///TestCourseDataWarehouse.db
Done.

[]

3. **Use SQL ALTER TABLE statements to add the foreign key constraints from your ERD.**  
Take care that each constraint has to have a unique name.

In [30]:
%%sql
/* source: https://www.sqlitetutorial.net/sqlite-foreign-key/ */
/* check wether program supports foreign keys */
PRAGMA foreign_keys;
/* To enable foreign key constraint: */
PRAGMA foreign_keys = ON;

 * sqlite:///TestCourseDataWarehouse.db
   sqlite:///TestDB.db
Done.
Done.

[]

4. **INSERT Data from Operational Database INTO DataWareHouse**

In [ ]:
%%sql
INSERT INTO DIMENSION_DESCRIPTION (CourseTitle, Title, Attributes, Description)
SELECT CourseTitle, Title, Attributes, Description 
FROM COURSE