<img src="https://i.imgur.com/SsfgzAq.png" width="50%"/>

To fix the missing program codes and the program names, we had to rebuild the course catalog for the missing years and fill in the missing course catalogs in the catolg years 2017_2018 and  2018_2019.
1. run the code below to get a list of program names and programes codes from the database in the import step:

```python
conn = sqlite3.connect('DWETL.db')  
c = conn.cursor()
catalog_years = ['2014_2015', '2015_2016' ,'2016_2017' ,'2017_2018' ,"2018_2019"]

for i in catalog_years :
    data = pd.read_csv('SourceData/Catalogs/CourseCatalog2018_2019.csv')
    data.pop("Unnamed: 0")
    data = data[data.duplicated(['catalog_id'])==False].sort_values('catalog_id')

    data = trim_all_columns(data)
    data['CatalogYear'] = i
    data.to_sql('IMPORT_COURSE_CATALOG',conn,if_exists='append',index=False)
conn.close()```

```python
conn = sqlite3.connect('DWETL.db')  within the quotes
c = conn.cursor() 
catalog_years = ['2014_2015', '2015_2016' ,'2016_2017' ]

for i in catalog_years :
    data = pd.read_csv('SourceData/Catalogs/CourseCatalog2017_2018.csv')
    data = trim_all_columns(data)
    data = data[data.duplicated(['catalog_id'])==False].sort_values('catalog_id')
    data.rename(columns = { 'catalog_id' : 'catalog_ID' }, inplace = True)
    data.program_code = data.program_code.apply(remove_whitespace)
    data.catalog_ID = data.catalog_ID.apply(remove_whitespace)
    data['CatalogYear'] = i
    data.to_sql('IMPORT_COURSE_CATALOG',conn,if_exists='append',index=False)
conn.close()```

<br>*note: we were lucky to find that one of our classmates have done a project in BA505 where he scraped <br> the university website to get the course catalog for the year 2018_2019<br> which we got the missing BA courses from*


```python
conn = sqlite3.connect('DWETL.db')  within the quotes
c = conn.cursor() 
catalog_years = ['2014_2015', '2015_2016' ,'2016_2017' ]

for i in catalog_years :
    data = pd.read_csv('https://raw.githubusercontent.com/fairfield-university-ba505-fall2018/course-schedules-part-3-anirC/master/catalog/catalog.csv')
    data = trim_all_columns(data)
    data = data[data.duplicated(['catalog_id'])==False].sort_values('catalog_id')
    data.rename(columns = { 'catalog_id' : 'catalog_ID' }, inplace = True)
    data.program_code = data.program_code.apply(remove_whitespace)
    data.catalog_ID = data.catalog_ID.apply(remove_whitespace)
    data['CatalogYear'] = i
    data.to_sql('IMPORT_COURSE_CATALOG',conn,if_exists='append',index=False)
conn.close()```


2. run the qaury below to get the progrme names and save it as a csv

```python
import pandas as pd
#https://datatofish.com/create-database-python-using-sqlite3/
from sqlalchemy import create_engine

engine = create_engine("sqlite:///DWETL.db")
#pick a table to load into a df
table = 'PROGRAMS'

tables_all = pd.read_sql_table (table ,engine)

tables_all.to_csv("programs_table.csv")```

3. rebuild the CourseData.db and also rebuild the CourseDataWarehouse.db without setp #1
4. Get the Missing programes names and codes from ourseDataWarehouse.db using the code below
```python
%%sql
SELECT YEAR,SEMESTER ,SEMESTER|| '' ||YEAR as term,CatalogYear, COURSES_FACT.Catalog_ID,PROGRAMS_DIM.program_name,PROGRAMS_DIM.program_code,Title, CDDB.COURSE.credits, COURSE_CATALOGS_DIM.Prereqs, COURSE_CATALOGS_DIM.Coreqs, COURSE_CATALOGS_DIM.Fees,  COURSE_CATALOGS_DIM.Attributes, COURSE_CATALOGS_DIM.Description
FROM FACULTY_DIM
    LEFT JOIN COURSES_FACT USING (FID)
    LEFT JOIN COURSE_CATALOGS_DIM USING (CID)
    LEFT JOIN CDDB.COURSE USING (CID)
    LEFT  JOIN PROGRAMS_DIM USING (PID)
WHERE program_name is NULL; ```




5.Save the result to a pandas dataframe and filter the missing values based on each catalog year

```python
missing_df = _.DataFrame()

#filter the missing values based on each catalog year

term_lst= ['Fall2016','Winter2017' , 'Spring2017' ,'Summer2017'  ,'SpringBreak2017']

df = missing_df[missing_df.term.isin(term_lst)]

df = df[df.duplicated(['Catalog_ID'])==False].sort_values('Catalog_ID')

df['CatalogYear'] = '2016_2017'
df.to_csv('CourseCatalog2016_2017.csv')

```

5. for each catalog year we read the csv  and then we merge it with program info csv

In [1]:
import pandas as pd



import pandas as pd

def remove_whitespace(x):
    try:
        # remove spaces inside and outside of string
        x = "".join(x.split())

    except:
        pass
    return x
df_missing = pd.read_csv(r"CourseCatalog2018_2019.csv")
df_missing.rename(columns = {'Catalog_ID':'catalog_id'}, inplace = True) 

df_missing.pop('program_code')
df_missing.pop('program_name')
df_missing["program_code"] =df_missing["catalog_id"].str.replace("\d+." , "")
df_missing.program_code = df_missing.program_code.apply(remove_whitespace)


df_programs = pd.read_csv("programs_table.csv")
df_programs.program_code = df_programs.program_code.apply(remove_whitespace)

In [ ]:
#mergeing catalog year with program info csv
df = df_programs[['program_code', 'program_name']].merge(df_missing , left_on=['program_code'], right_on=['program_code'] , how = "right")


#filling the missing information after the merge

df.program_name.loc[df.program_code == 'FE'] = 'First Year Experience'
df.program_name.loc[df.program_code == 'ASEN'] = 'American Studies: English'
df.program_name.loc[df.program_code == 'ASAH'] = "American Studies: Art History"
df.program_name.loc[df.program_code == 'ASAH'] = "American Studies: Art History"
df.program_name.loc[df.program_code == 'ASHI'] = "American Studies: History"
df.program_name.loc[df.program_code == 'ASMU'] = "American Studies: Music"
df.program_name.loc[df.program_code == 'ASSO'] = "American Studies: Sociology"

df.program_name.isna().sum()

df[df.program_name.isna() == True]
#save it to a csv
#df.to_csv("CourseCatalog2018_2019_clean.csv")

6. To rebuild the rest of the features of course catalog, we had to run the qaury below from the IMPORT_COURSE_CATALOG table to get the information needed to rebuild it.

```python
import pandas as pd
#https://datatofish.com/create-database-python-using-sqlite3/
from sqlalchemy import create_engine

engine = create_engine("sqlite:///DWETL.db")
#pick a table to load into a df
table = 'PROGRAMS'

tables_all = pd.read_sql_table (table ,engine)

tables_all.to_csv("IMPORT_COURSE_CATALOG.csv")```

7. We then concat our classmates scraped course catalog and our IMPORT_COURSE_CATALOG csv to have a all of the course offering in one dataframe

In [10]:
IMPORT_COURSE_CATALOG1 = pd.read_csv("https://raw.githubusercontent.com/fairfield-university-ba505-fall2018/course-schedules-part-3-anirC/master/catalog/catalog.csv")
IMPORT_COURSE_CATALOG2 = pd.read_csv('IMPORT_COURSE_CATALOG.csv')

IMPORT_COURSE_CATALOG = pd.concat([IMPORT_COURSE_CATALOG1, IMPORT_COURSE_CATALOG2] ,sort=True)
IMPORT_COURSE_CATALOG

,CatalogYear,Unnamed: 0,attributes,catalog_id,coreqs,course_title,credits,description,fees,prereqs,program_code,program_name
0,NaN,NaN,NaN,CS 0101,NaN,Introduction to Computing,3 Credits,This course introduces the concept of computin...,NaN,NaN,CS,Computer Science
1,NaN,NaN,"BUEL Business Elective, ENPC Digital Journalis...",CS 0131,NaN,Fundamentals of Programming,3 Credits,This course introduces the object-oriented pro...,NaN,NaN,CS,Computer Science
2,NaN,NaN,NaN,CS 0152,NaN,Introduction to Computer Game Modeling,3 Credits,This is an introductory computer games modelin...,NaN,NaN,CS,Computer Science
3,NaN,NaN,NaN,CS 0231,CS 0231L or CS 0231P.,Programming Workshop,3 Credits,This course covers advanced programming concep...,NaN,CS 0131.,CS,Computer Science
4,NaN,NaN,NaN,CS 0231L,CS 0231.,Programming Workshop Lab,1 Credit,This lab accompanies the Programming Workshop ...,NaN,NaN,CS,Computer Science
...,...,...,...,...,...,...,...,...,...,...,...,...
2215,2018_2019,2215.0,NaN,CO 0562,NaN,Continuing Thesis Research,3 Credits,NaN,NaN,NaN,CO,Communication
2216,2018_2019,2216.0,NaN,CO 0570,NaN,Project Proposal,3 Credits,This course operates as an independent study e...,NaN,NaN,CO,Communication
2217,2018_2019,2217.0,NaN,CO 0571,NaN,Independent Project,3 Credits,This course operates as an independent study e...,NaN,NaN,CO,Communication
2218,2018_2019,2218.0,NaN,CO 0572,NaN,Continuing Project,3 Credits,NaN,NaN,NaN,CO,Communication
2219,2018_2019,2219.0,NaN,CO 0598,NaN,Independent Study,3 Credits,This course allows students to thoroughly inve...,NaN,Graduate Director's approval and a communicati...,CO,Communication

8. for each missing course catalog csv, we prepare our missing course catalog for a merger with the IMPORT_COURSE_CATALOG dataframe

In [11]:
df = pd.read_csv('CourseCatalog2017_2018_clean.csv')


IMPORT_COURSE_CATALOG.isna().sum()
IMPORT_COURSE_CATALOG = IMPORT_COURSE_CATALOG[IMPORT_COURSE_CATALOG.duplicated(['catalog_id'])==False].sort_values('catalog_id')
IMPORT_COURSE_CATALOG

df.rename(columns = { 'Credits' : 'credits' , 'Prereqs' :'prereqs' , "Coreqs" :"coreqs" , 'Fees':'fees' ,'Attributes'  :'attributes','Description' :'description'}, inplace = True)
IMPORT_COURSE_CATALOG
df1=df.copy()
df1 =df1.drop(columns=['Unnamed: 0.1',"credits"  , 'prereqs' , "coreqs" , 'fees' ,'attributes','description' , 'Unnamed: 0'], axis=1, errors='ignore')
df1.shape

(12, 8)

9. for each missing course catalog csv, merge the two data frame and save it!

In [13]:

df1 = IMPORT_COURSE_CATALOG[['credits' ,'catalog_id' ,'prereqs' , "coreqs" , 'fees' ,'attributes','description']].merge( df1, left_on=['catalog_id'], right_on=['catalog_id'] , how = "right")
#df1.credits_x.unique()
df1

,credits,catalog_id,prereqs,coreqs,fees,attributes,description,program_code,program_name,YEAR,SEMESTER,term,CatalogYear,Title
0,3 Credits,PB 0101,NaN,NaN,NaN,NaN,Health is broadly considered a human right and...,PB,Public Health,2018.0,Spring,Spring2018,2017_2018,Global Public Health and Social Justice
1,0 Credits,SHS 0011,NaN,NaN,$2100,NaN,This course examines the intersection of psych...,SHS,Summer Pre-College Programs,2018.0,Summer,Summer2018,2017_2018,Forensic Psychology
2,0 Credits,SHS 0013,NaN,NaN,$2100,NaN,"Spend a week in the world of nursing, learning...",SHS,Summer Pre-College Programs,2018.0,Summer,Summer2018,2017_2018,Nursing: The Possibilities Are Endless!
3,NaN,AY 0390B,NaN,NaN,NaN,NaN,NaN,AY,Anthropology,2017.0,Fall,Fall2017,2017_2018,Special Topics: North American Indians
4,NaN,AS 0405A,NaN,NaN,NaN,NaN,NaN,AS,American Studies,2018.0,Summer,Summer2018,2017_2018,"Special Topics: Study Away: Newport, Rhode Isl..."
5,NaN,BI 0107X,NaN,NaN,NaN,NaN,NaN,BI,Biology,2017.0,Fall,Fall2017,2017_2018,Human Anatomy and Physiology Lab I
6,NaN,SL 0540A,NaN,NaN,NaN,NaN,NaN,SL,TESOL and Bilingual Education,2017.0,Fall,Fall2017,2017_2018,Special Topics in English Acquisition Pedagogy...
7,NaN,RS 0299C,NaN,NaN,NaN,NaN,NaN,RS,Religious Studies,2017.0,Fall,Fall2017,2017_2018,Special Topics: Tradition and the Spirit of Pl...
8,NaN,PH 0299D,NaN,NaN,NaN,NaN,NaN,PH,Philosophy,2017.0,Fall,Fall2017,2017_2018,Special Topics: Philosophy as a Way of Life
9,NaN,MA 0495C,NaN,NaN,NaN,NaN,NaN,MA,Mathematics,2018.0,Summer,Summer2018,2017_2018,Special Topics: Cryptography
10,NaN,FE 0001,NaN,NaN,NaN,NaN,NaN,FE,First Year Experience,2017.0,Fall,Fall2017,2017_2018,First Year Experience
11,NaN,FE 0002,NaN,NaN,NaN,NaN,NaN,FE,First Year Experience,2017.0,Fall,Fall2017,2017_2018,Transfer Student Experience

In [14]:
#check for missing
df1.credits.isna().sum()

9

In [27]:
#impute the missing credits
#(This is a bad idea but we had to do it this way given the time we had left )
df1[df1.credits.isna() == True] = 3

In [223]:
df1.to_csv("CourseCatalog2017_2018_clean2.csv")

10. rebuild the CourseData.db and also rebuild the CourseDataWarehouse.db using our new courecatalog and the one given by the professor