In [13]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseDataWarehouse.db'

In [14]:
%%sql
ATTACH 'CourseData.db' AS CDDB

 * sqlite:///CourseDataWarehouse.db
(sqlite3.OperationalError) database CDDB is already in use
[SQL: ATTACH 'CourseData.db' AS CDDB]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [15]:
%%sql
select * from CDDB.PROGRAMS LIMIT 1

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AN', 'Asian Studies')]

In [63]:
%%sql 
DROP TABLE IF EXISTS PROGRAMS_DIM;
DROP TABLE IF EXISTS LOCATIONS_DIM;
DROP TABLE IF EXISTS TIMES_DIM;
DROP TABLE IF EXISTS FACULTY_DIM;
DROP TABLE IF EXISTS COURSE_CATALOGS_DIM;
DROP TABLE IF EXISTS COURSES_FACT;

CREATE TABLE PROGRAMS_DIM (
    PID INTEGER NOT NULL PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL
);


CREATE TABLE LOCATIONS_DIM (
    LID INTEGER PRIMARY KEY,
    location TEXT ,
    BuildingName TEXT

);


CREATE TABLE FACULTY_DIM (
    FID  INTEGER NOT NULL PRIMARY KEY,
    instructor_fname TEXT NOT NULL,
    instructor_lname TEXT NOT NULL
);


CREATE TABLE COURSE_CATALOGS_DIM (
    CID INTEGER PRIMARY KEY,
    Catalog_ID TEXT NOT NULL,
    Credits TEXT NOT NULL,
    Prereqs TEXT,
    Coreqs TEXT,
    Fees INTEGER,
    Description TEXT,
    Attributes TEXT
);



CREATE TABLE COURSES_FACT (
    CID INTEGER NULL ,
    CRN INTEGER NULL,
    SEMESTER TEXT NOT NULL ,
    YEAR INTEGER NOT NULL,
    Title TEXT NOT NULL,
    SECTION TEXT NOT NULL,
    Act INTEGER,
    Cap INTEGER,
    Rem INTEGER, 
    timecodes TEXT,
    PID INTEGER NOT NULL,
    LID INTEGER NOT NULL,
    FID INTEGER NOT NULL,
    catalog_ID INTEGER  NULL,
    FOREIGN KEY (PID) REFERENCES PROGRAMS_DIM (PID),
    FOREIGN KEY (LID) REFERENCES LOCATIONS_DIM (LID),
    FOREIGN KEY (FID) REFERENCES FACULTY_DIM (FID),
    FOREIGN KEY (CID) REFERENCES COURSE_CATALOGS_DIM (CID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [64]:
%%sql
SELECT * FROM  COURSES_FACT

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [65]:
%%sql 


INSERT INTO PROGRAMS_DIM (program_name, program_code)
SELECT  program_name, program_code
FROM CDDB.PROGRAMS;


INSERT INTO LOCATIONS_DIM (location ,BuildingName )
SELECT  location , BuildingName
FROM CDDB.LOCATION;


INSERT INTO FACULTY_DIM (instructor_fname , instructor_lname)
SELECT  instructor_fname , instructor_lname
FROM CDDB.FACULTY;


INSERT INTO COURSE_CATALOGS_DIM (Catalog_ID, credits, Prereqs, Coreqs, Fees, Description, Attributes)
SELECT catalog_ID, credits, prereqs, coreqs, fees, description, attributes
FROM CDDB.COURSE;



INSERT INTO COURSES_FACT (CRN, SEMESTER , YEAR , TITLE, SECTION, ACT, CAP,REM, TIMECODES, PID, LID, FID, CID)
SELECT DISTINCT CDDB.CLASS_MEETINGS.CRN, CDDB.CLASS_MEETINGS.SEMESTER , CDDB.CLASS_MEETINGS.YEAR, CDDB.COURSE.course_title, CDDB.COURSE_OFFERING.SECTION, act, cap, rem, timecodes, PID, LOCATIONS_DIM.LID, FID,CDDB.COURSE.CID
FROM CDDB.COURSE_OFFERING
     JOIN CDDB.CLASS_MEETINGS USING  (COID)
    left JOIN LOCATIONS_DIM USING (LID)
    left JOIN CDDB.COURSE USING (CID)
    left JOIN PROGRAMS_DIM USING (PID)
    left JOIN FACULTY_DIM USING (FID)
    JOIN COURSE_CATALOGS_DIM USING (CID);

 * sqlite:///CourseDataWarehouse.db
83 rows affected.
207 rows affected.
1104 rows affected.
4440 rows affected.
(sqlite3.OperationalError) ambiguous column name: CRN
[SQL: INSERT INTO COURSES_FACT (CRN, SEMESTER , YEAR , TITLE, SECTION, ACT, CAP,REM, TIMECODES, PID, LID, FID, CID)
SELECT DISTINCT CDDB.CLASS_MEETINGS.CRN, CDDB.CLASS_MEETINGS.SEMESTER , CDDB.CLASS_MEETINGS.YEAR, CDDB.COURSE.course_title, CDDB.COURSE_OFFERING.SECTION, act, cap, rem, timecodes, PID, LOCATIONS_DIM.LID, FID,CDDB.COURSE.CID, COUNT(CRN)
FROM CDDB.COURSE_OFFERING
    inner JOIN CDDB.CLASS_MEETINGS USING  (COID)
    inner JOIN LOCATIONS_DIM USING (LID)
    inner JOIN CDDB.COURSE USING (CID)
    inner JOIN PROGRAMS_DIM USING (PID)
    inner JOIN FACULTY_DIM USING (FID)
    inner JOIN COURSE_CATALOGS_DIM USING (CID);]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [67]:
INSERT INTO COURSES_FACT (CRN, SEMESTER , YEAR , TITLE, SECTION, ACT, CAP,REM, TIMECODES, PID, LID, FID, CID)
SELECT DISTINCT CDDB.CLASS_MEETINGS.CRN, CDDB.CLASS_MEETINGS.SEMESTER , CDDB.CLASS_MEETINGS.YEAR, CDDB.COURSE.course_title, CDDB.COURSE_OFFERING.SECTION, act, cap, rem, timecodes, PID, LOCATIONS_DIM.LID, FID,CDDB.COURSE.CID
FROM CDDB.COURSE_OFFERING
     JOIN CDDB.CLASS_MEETINGS USING  (COID)
    left JOIN LOCATIONS_DIM USING (LID)
    left JOIN CDDB.COURSE USING (CID)
    left JOIN PROGRAMS_DIM USING (PID)
    left JOIN FACULTY_DIM USING (FID)
    JOIN COURSE_CATALOGS_DIM USING (CID);

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [51]:
%%sql
SELECT FID, instructor_lname,instructor_fname,COURSE_CATALOGS_DIM.Catalog_ID,program_name, Title ,sum(act), sum(cap), sum(rem) , YEAR,SEMESTER , COUNT(CRN) as COURSESTaught
FROM FACULTY_DIM
    JOIN COURSES_FACT USING (FID)
    JOIN COURSE_CATALOGS_DIM USING (CID)
    JOIN PROGRAMS_DIM USING (PID)
WHERE (instructor_lname like '%Huntley%')
GROUP BY title
ORDER BY COURSESTaught DESC

 * sqlite:///CourseDataWarehouse.db
Done.

[(275, 'Huntley', 'Christopher L.', 'OM 0101', 'Operations Management', 'Operations Management', 102, 100, -2, 2019, 'Spring', 4),
 (275, 'Huntley', 'Christopher L.', 'IS 0240', 'Information Systems', 'Systems Analysis and Logical Design', 45, 50, 5, 2017, 'Fall', 2),
 (275, 'Huntley', 'Christopher L.', 'IS 0260', 'Information Systems', 'Database Systems', 24, 25, 1, 2018, 'Spring', 1),
 (275, 'Huntley', 'Christopher L.', 'IS 0510', 'Information Systems', 'Databases for Business Analytics', 18, 20, 2, 2017, 'Fall', 1),
 (275, 'Huntley', 'Christopher L.', 'IS 0505', 'Information Systems', 'Python for Business Analytics', 28, 20, -8, 2017, 'Fall', 1),
 (275, 'Huntley', 'Christopher L.', 'IS 0320', 'Information Systems', 'Systems Design and Implementation', 20, 25, 5, 2018, 'Spring', 1)]

In [52]:
%%sql
SELECT DISTINCT COUNT(CRN), COUNT(CID), COUNT(CRN)
FROM COURSES_FACT;

 * sqlite:///CourseDataWarehouse.db
Done.

[(5207, 5207, 5207)]

In [53]:
%%sql

SELECT CRN,COURSE_CATALOGS_DIM.Catalog_ID, program_name,  instructor_lname,instructor_fname, YEAR,location ,BuildingName
FROM COURSES_FACT
    JOIN PROGRAMS_DIM USING (PID)
    JOIN COURSE_CATALOGS_DIM USING (CID)
    JOIN FACULTY_DIM USING (FID)
    JOIN LOCATIONS_DIM USING (LID)
WHERE program_name like 'iNFORMATION%'  or program_name like 'Operations Management'  and YEAR = 2019
GROUP BY CRN
ORDER BY program_name DESC

 * sqlite:///CourseDataWarehouse.db
Done.

[(37200, 'OM 0101', 'Operations Management', 'Huntley', 'Christopher L.', 2019, 'DSB 110B', 'Dolan School of Business'),
 (37201, 'OM 0101', 'Operations Management', 'Huntley', 'Christopher L.', 2019, 'DSB 110B', 'Dolan School of Business'),
 (37202, 'OM 0101', 'Operations Management', 'Lewis', 'Neal A.', 2019, 'DSB 110B', 'Dolan School of Business'),
 (37203, 'OM 0101', 'Operations Management', 'Remediani', 'Christopher J.', 2019, 'DSB 107', 'Dolan School of Business'),
 (37222, 'OM 0101', 'Operations Management', 'Lewis', 'Neal A.', 2019, 'DSB 112', 'Dolan School of Business'),
 (37269, 'OM 0101', 'Operations Management', 'Remediani', 'Christopher J.', 2019, 'DSB 112', 'Dolan School of Business'),
 (37579, 'OM 0101', 'Operations Management', ' He', 'Xin Xin', 2019, 'DSB 110A', 'Dolan School of Business'),
 (37664, 'OM 0101', 'Operations Management', ' He', 'Xin Xin', 2019, 'DSB 110A', 'Dolan School of Business'),
 (38082, 'OM 0101', 'Operations Management', ' He', 'Xin Xin', 2019, 'DSB 110A', 'Dolan School of Business'),
 (11834, 'IS 0500', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 106', 'Dolan School of Business'),
 (34147, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 106', 'Dolan School of Business'),
 (34148, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 106', 'Dolan School of Business'),
 (34149, 'IS 0100', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 110B', 'Dolan School of Business'),
 (34150, 'IS 0100', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 110B', 'Dolan School of Business'),
 (34151, 'IS 0100', 'Information Systems', ' Wang', 'Kanlun', 2018, 'DSB 110A', 'Dolan School of Business'),
 (34641, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 114', 'Dolan School of Business'),
 (34642, 'IS 0135', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 106', 'Dolan School of Business'),
 (34643, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2018, 'DSB 114', 'Dolan School of Business'),
 (34644, 'IS 0240', 'Information Systems', 'Huntley', 'Christopher L.', 2018, 'DSB 112', 'Dolan School of Business'),
 (34645, 'IS 0260', 'Information Systems', 'Huntley', 'Christopher L.', 2018, 'DSB 110B', 'Dolan School of Business'),
 (34934, 'IS 0540', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 115', 'Dolan School of Business'),
 (35141, 'IS 0320', 'Information Systems', 'Huntley', 'Christopher L.', 2018, 'DSB 104', 'Dolan School of Business'),
 (35142, 'IS 0520', 'Information Systems', 'McCabe', 'Thomas F.', 2018, 'DSB 115', 'Dolan School of Business'),
 (35146, 'IS 0500', 'Information Systems', 'Socci', 'Nicholas F.', 2018, 'DSB 111', 'Dolan School of Business'),
 (35912, 'IS 0100', 'Information Systems', ' Wang', 'Kanlun', 2018, 'DSB 108', 'Dolan School of Business'),
 (35913, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 114', 'Dolan School of Business'),
 (35914, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2018, 'DSB 107', 'Dolan School of Business'),
 (35915, 'IS 0315', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 104', 'Dolan School of Business'),
 (37139, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2019, 'DSB 107', 'Dolan School of Business'),
 (37140, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2019, 'DSB 104', 'Dolan School of Business'),
 (37141, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2019, 'DSB 104', 'Dolan School of Business'),
 (37142, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2019, 'DSB 109', 'Dolan School of Business'),
 (37143, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2019, 'DSB 109', 'Dolan School of Business'),
 (37574, 'IS 0100', 'Information Systems', 'Jagtiani', 'Lalit N.', 2019, 'NHS 403', 'Fairfield Campus | Nursing and Health Studies'),
 (37576, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2019, 'DSB 107', 'Dolan School of Business'),
 (37577, 'IS 0240', 'Information Systems', 'Jagtiani', 'Lalit N.', 2019, 'DSB 106', 'Dolan School of Business'),
 (37578, 'IS 0260', 'Information Systems', ' Ozcelik', 'Yasin', 2019, 'BNW 341', 'Bannow Science Center'),
 (37935, 'IS 0320', 'Information Systems', 'Jagtiani', 'Lalit N.', 2019, 'DSB 106', 'Dolan School of Business'),
 (37937, 'IS 0500', 'Information Systems', 'Vinekar', 'Vishnu V.', 2019, 'DSB 111', 'Dolan School of Business'),
 (38339, 'IS 0100', 'Information Systems', 'Jagtiani', 'Lalit N.', 2019, 'NHS 403', 'Fairfield Campus | Nursing and Health Studies'),
 (38341, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2019, 'DSB 107', 'Dolan School of Business'),
 (38342, 'IS 0315', 'Information Systems', ' Ozcelik', 'Yasin', 2019, 'DSB 104', 'Dolan School of Business'),
 (39009, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2019, 'DSB 107', 'Dolan School of Business'),
 (39053, 'IS 0315', 'Information Systems', ' Ozcelik', 'Yasin', 2019, 'DSB 112', 'Dolan School of Business'),
 (58441, 'IS 0550', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 108', 'Dolan School of Business'),
 (71153, 'IS 0240', 'Information Systems', 'Huntley', 'Christopher L.', 2017, 'DSB 110A', 'Dolan School of Business'),
 (71166, 'IS 0100', 'Information Systems', ' Ozcelik', 'Yasin', 2017, 'DSB 105', 'Dolan School of Business'),
 (71167, 'IS 0100', 'Information Systems', ' Ozcelik', 'Yasin', 2017, 'DSB 105', 'Dolan School of Business'),
 (71168, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2017, 'DSB 107', 'Dolan School of Business'),
 (71169, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2017, 'DSB 107', 'Dolan School of Business'),
 (71196, 'IS 0100', 'Information Systems', ' Wang', 'Kanlun', 2017, 'DSB 107', 'Dolan School of Business'),
 (71210, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2017, 'DSB 112', 'Dolan School of Business'),
 (71287, 'IS 0310', 'Information Systems', 'Vinekar', 'Vishnu V.', 2017, 'DSB 2109A', 'Dolan School of Business'),
 (71341, 'IS 0260', 'Information Systems', ' Ozcelik', 'Yasin', 2017, 'DSB 112', 'Dolan School of Business'),
 (71667, 'IS 0100', 'Information Systems', 'Socci', 'Nicholas F.', 2017, 'DSB 109', 'Dolan School of Business'),
 (71929, 'IS 0135', 'Information Systems', 'Vinekar', 'Vishnu V.', 2017, 'DSB 109', 'Dolan School of Business'),
 (71952, 'IS 0100', 'Information Systems', ' Wang', 'Kanlun', 2017, 'DSB 109', 'Dolan School of Business'),
 (72211, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2017, 'DSB 106', 'Dolan School of Business'),
 (72734, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2017, 'DSB 107', 'Dolan School of Business'),
 (72913, 'IS 0505', 'Information Systems', 'Huntley', 'Christopher L.', 2017, 'DSB 115', 'Dolan School of Business'),
 (72914, 'IS 0510', 'Information Systems', 'Huntley', 'Christopher L.', 2017, 'DSB 115', 'Dolan School of Business'),
 (74147, 'IS 0240', 'Information Systems', 'Jagtiani', 'Lalit N.', 2018, 'NHS 411', 'Fairfield Campus | Nursing and Health Studies'),
 (74157, 'IS 0100', 'Information Systems', 'Jagtiani', 'Lalit N.', 2018, 'NHS 410', 'Fairfield Campus | Nursing and Health Studies'),
 (74158, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 112', 'Dolan School of Business'),
 (74159, 'IS 0100', 'Information Systems', 'Jagtiani', 'Lalit N.', 2018, 'NHS 403', 'Fairfield Campus | Nursing and Health Studies'),
 (74160, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 114', 'Dolan School of Business'),
 (74185, 'IS 0100', 'Information Systems', ' Tao', 'Jie', 2018, 'DSB 114', 'Dolan School of Business'),
 (74199, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2018, 'DSB 106', 'Dolan School of Business'),
 (74321, 'IS 0260', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 104', 'Dolan School of Business'),
 (74631, 'IS 0100', 'Information Systems', 'McCabe', 'Thomas F.', 2018, 'DSB 106', 'Dolan School of Business'),
 (74833, 'IS 0135', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 110B', 'Dolan School of Business'),
 (74853, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 114', 'Dolan School of Business'),
 (75042, 'IS 0100', 'Information Systems', 'Vinekar', 'Vishnu V.', 2018, 'DSB 114', 'Dolan School of Business'),
 (75299, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2018, 'DSB 107', 'Dolan School of Business'),
 (75778, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2018, 'DSB 107', 'Dolan School of Business'),
 (75779, 'IS 0315', 'Information Systems', ' Ozcelik', 'Yasin', 2018, 'DSB 108', 'Dolan School of Business'),
 (75940, 'IS 0500', 'Information Systems', 'Socci', 'Nicholas F.', 2018, 'DSB 108', 'Dolan School of Business'),
 (75958, 'IS 0210', 'Information Systems', 'Lee', 'Patrick S.', 2018, 'DSB 107', 'Dolan School of Business')]

In [71]:
%%sql
SELECT COUNT(DISTINCT instructor_lname) 
FROM COURSES_FACT
    JOIN PROGRAMS_DIM USING (PID)
    JOIN COURSE_CATALOGS_DIM USING (CID)
    JOIN FACULTY_DIM USING (FID)
    JOIN LOCATIONS_DIM USING (LID)
WHERE YEAR = 2019

 * sqlite:///CourseDataWarehouse.db
Done.

[(0,)]

In [12]:
%%sql
vacuum;

 * sqlite:///CourseDataWarehouse.db
Done.

[]