In [2]:
import pandas as pd

df_missing = pd.read_csv(r"CourseCatalog2018_2019.csv")

import pandas as pd

def remove_whitespace(x):
    try:
        # remove spaces inside and outside of string
        x = "".join(x.split())

    except:
        pass
    return x

# Apply remove_whitespace to column only
#df_missing.catalog_id = df_missing.catalog_id.apply(remove_whitespace)
#df.program_code = df.program_code.apply(remove_whitespace)




# Apply to remove_whitespace to entire Dataframe
#df = df.applymap(remove_whitespace)
#print(df_missing)
df_missing.rename(columns = {'Catalog_ID':'catalog_id'}, inplace = True) 
print(df_missing)

    Unnamed: 0    YEAR SEMESTER        term CatalogYear catalog_id  \
0         2817  2018.0     Fall    Fall2018   2018_2019    AS 0471
1         8335  2018.0     Fall    Fall2018   2018_2019    BA 0500
2         3638  2018.0     Fall    Fall2018   2018_2019    BA 0505
3         3645  2019.0   Spring  Spring2019   2018_2019    BA 0510
4         8541  2019.0   Spring  Spring2019   2018_2019    BA 0540
..         ...     ...      ...         ...         ...        ...
66        8375  2019.0   Spring  Spring2019   2018_2019   RS 0299D
67        6862  2019.0   Spring  Spring2019   2018_2019    SA 0140
68        6524  2018.0     Fall    Fall2018   2018_2019    SW 0412
69        7094  2019.0   Spring  Spring2019   2018_2019    SW 0422
70        6542  2019.0   Spring  Spring2019   2018_2019   SW 0482G

    program_name  program_code                                    Title  \
0            NaN           NaN  Introduction to Native American Studies
1            NaN           NaN                       Business Analytics
2            NaN           NaN            Python for Business Analytics
3            NaN           NaN         Databases for Business Analytics
4            NaN           NaN                    Business Intelligence
..           ...           ...                                      ...
66           NaN           NaN  Special Topics: Martin Luther King, Jr.
67           NaN           NaN                     Darkroom Photography
68           NaN           NaN               Agile Software Engineering
69           NaN           NaN                         Visual Analytics
70           NaN           NaN            Special Topics: Cybersecurity

    credits  Prereqs  Coreqs  Fees  Attributes  Description
0       NaN      NaN     NaN   NaN         NaN          NaN
1       NaN      NaN     NaN   NaN         NaN          NaN
2       NaN      NaN     NaN   NaN         NaN          NaN
3       NaN      NaN     NaN   NaN         NaN          NaN
4       NaN      NaN     NaN   NaN         NaN          NaN
..      ...      ...     ...   ...         ...          ...
66      NaN      NaN     NaN   NaN         NaN          NaN
67      NaN      NaN     NaN   NaN         NaN          NaN
68      NaN      NaN     NaN   NaN         NaN          NaN
69      NaN      NaN     NaN   NaN         NaN          NaN
70      NaN      NaN     NaN   NaN         NaN          NaN

[71 rows x 15 columns]

In [40]:
import re
df_missing.pop('program_code')
df_missing.pop('program_name')
df_missing["program_code"] =df_missing["catalog_id"].str.replace("\d+." , "")
df_missing.program_code = df_missing.program_code.apply(remove_whitespace)

In [41]:

df_programs = pd.read_csv("programs_table.csv")
#df_programs= df_programs.applymap(remove_whitespace)
df_programs.program_code = df_programs.program_code.apply(remove_whitespace)
df_programs.isna().sum()
df_programs[df_programs['program_code']== 'FE']

    Unnamed: 0  PID program_code           program_name
87          87   88           FE  First Year Experience

In [42]:
df = df_programs[['program_code', 'program_name']].merge(df_missing , left_on=['program_code'], right_on=['program_code'] , how = "right")
df

df.program_name.loc[df.program_code == 'FE'] = 'First Year Experience'
df.program_name.loc[df.program_code == 'ASEN'] = 'American Studies: English'
df.program_name.loc[df.program_code == 'ASAH'] = "American Studies: Art History"
df.program_name.loc[df.program_code == 'ASAH'] = "American Studies: Art History"
df.program_name.loc[df.program_code == 'ASHI'] = "American Studies: History"
df.program_name.loc[df.program_code == 'ASMU'] = "American Studies: Music"
df.program_name.loc[df.program_code == 'ASSO'] = "American Studies: Sociology"

df.program_name.isna().sum()

df[df.program_name.isna() == True]

#df.iloc[1085]

Empty DataFrame
Columns: [program_code, program_name, Unnamed: 0, YEAR, SEMESTER, term, CatalogYear, catalog_id, Title, credits, Prereqs, Coreqs, Fees, Attributes, Description]
Index: []

In [43]:
df
df.to_csv("CourseCatalog2018_2019_clean.csv")

In [44]:
df1 = df[df.isna().any(axis=1)]
df1

,program_code,program_name,Unnamed: 0,YEAR,SEMESTER,term,CatalogYear,catalog_id,Title,credits,Prereqs,Coreqs,Fees,Attributes,Description
0,AS,American Studies,2817,2018.0,Fall,Fall2018,2018_2019,AS 0471,Introduction to Native American Studies,NaN,NaN,NaN,NaN,NaN,NaN
1,BI,Biology,7019,2018.0,Fall,Fall2018,2018_2019,BI 0088,Biomedical Science and Society,NaN,NaN,NaN,NaN,NaN,NaN
2,BI,Biology,943,2019.0,Spring,Spring2019,2018_2019,BI 0399M,Senior Capstone Seminar: Conservation Biology,NaN,NaN,NaN,NaN,NaN,NaN
3,SW,Software Engineering,6524,2018.0,Fall,Fall2018,2018_2019,SW 0412,Agile Software Engineering,NaN,NaN,NaN,NaN,NaN,NaN
4,SW,Software Engineering,7094,2019.0,Spring,Spring2019,2018_2019,SW 0422,Visual Analytics,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,PB,Public Health,8372,2018.0,Fall,Fall2018,2018_2019,PB 0101,Global Public Health and Social Justice,NaN,NaN,NaN,NaN,NaN,NaN
67,PB,Public Health,8333,2018.0,Fall,Fall2018,2018_2019,PB 0201,"Public Health, Disease, and Injury",NaN,NaN,NaN,NaN,NaN,NaN
68,PB,Public Health,8373,2019.0,Spring,Spring2019,2018_2019,PB 0203,Public Health Program Planning and Evaluation,NaN,NaN,NaN,NaN,NaN,NaN
69,FE,First Year Experience,8067,2018.0,Fall,Fall2018,2018_2019,FE 0001,First Year Experience,NaN,NaN,NaN,NaN,NaN,NaN
70,FE,First Year Experience,8117,2018.0,Fall,Fall2018,2018_2019,FE 0002,Transfer Student Experience,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
IMPORT_COURSE_CATALOG1 = pd.read_csv("https://raw.githubusercontent.com/fairfield-university-ba505-fall2018/course-schedules-part-3-anirC/master/catalog/catalog.csv")
IMPORT_COURSE_CATALOG2 = pd.read_csv('IMPORT_COURSE_CATALOG.csv')

IMPORT_COURSE_CATALOG = pd.concat([IMPORT_COURSE_CATALOG1, IMPORT_COURSE_CATALOG2] ,sort=True)
IMPORT_COURSE_CATALOG

,CatalogYear,Unnamed: 0,attributes,catalog_id,coreqs,course_title,credits,description,fees,prereqs,program_code,program_name
0,NaN,NaN,NaN,CS 0101,NaN,Introduction to Computing,3 Credits,This course introduces the concept of computin...,NaN,NaN,CS,Computer Science
1,NaN,NaN,"BUEL Business Elective, ENPC Digital Journalis...",CS 0131,NaN,Fundamentals of Programming,3 Credits,This course introduces the object-oriented pro...,NaN,NaN,CS,Computer Science
2,NaN,NaN,NaN,CS 0152,NaN,Introduction to Computer Game Modeling,3 Credits,This is an introductory computer games modelin...,NaN,NaN,CS,Computer Science
3,NaN,NaN,NaN,CS 0231,CS 0231L or CS 0231P.,Programming Workshop,3 Credits,This course covers advanced programming concep...,NaN,CS 0131.,CS,Computer Science
4,NaN,NaN,NaN,CS 0231L,CS 0231.,Programming Workshop Lab,1 Credit,This lab accompanies the Programming Workshop ...,NaN,NaN,CS,Computer Science
...,...,...,...,...,...,...,...,...,...,...,...,...
2215,2018_2019,2215.0,NaN,CO 0562,NaN,Continuing Thesis Research,3 Credits,NaN,NaN,NaN,CO,Communication
2216,2018_2019,2216.0,NaN,CO 0570,NaN,Project Proposal,3 Credits,This course operates as an independent study e...,NaN,NaN,CO,Communication
2217,2018_2019,2217.0,NaN,CO 0571,NaN,Independent Project,3 Credits,This course operates as an independent study e...,NaN,NaN,CO,Communication
2218,2018_2019,2218.0,NaN,CO 0572,NaN,Continuing Project,3 Credits,NaN,NaN,NaN,CO,Communication
2219,2018_2019,2219.0,NaN,CO 0598,NaN,Independent Study,3 Credits,This course allows students to thoroughly inve...,NaN,Graduate Director's approval and a communicati...,CO,Communication

In [24]:
df = pd.read_csv('CourseCatalog2017_2018_clean.csv')

#IMPORT_COURSE_CATALOG = pd.read_csv("https://raw.githubusercontent.com/fairfield-university-ba505-fall2018/course-schedules-part-3-anirC/master/catalog/catalog.csv")

IMPORT_COURSE_CATALOG.isna().sum()
IMPORT_COURSE_CATALOG = IMPORT_COURSE_CATALOG[IMPORT_COURSE_CATALOG.duplicated(['catalog_id'])==False].sort_values('catalog_id')
IMPORT_COURSE_CATALOG

df.rename(columns = { 'Credits' : 'credits' , 'Prereqs' :'prereqs' , "Coreqs" :"coreqs" , 'Fees':'fees' ,'Attributes'  :'attributes','Description' :'description'}, inplace = True)
IMPORT_COURSE_CATALOG
df1=df.copy()
df1 =df1.drop(columns=['Unnamed: 0.1',"credits"  , 'prereqs' , "coreqs" , 'fees' ,'attributes','description' , 'Unnamed: 0'], axis=1, errors='ignore')
df1.shape

(12, 8)

In [25]:

df1 = IMPORT_COURSE_CATALOG[['credits' ,'catalog_id' ,'prereqs' , "coreqs" , 'fees' ,'attributes','description']].merge( df1, left_on=['catalog_id'], right_on=['catalog_id'] , how = "right")
#df1.credits_x.unique()
df1

,credits,catalog_id,prereqs,coreqs,fees,attributes,description,program_code,program_name,YEAR,SEMESTER,term,CatalogYear,Title
0,3 Credits,PB 0101,NaN,NaN,NaN,NaN,Health is broadly considered a human right and...,PB,Public Health,2018.0,Spring,Spring2018,2017_2018,Global Public Health and Social Justice
1,0 Credits,SHS 0011,NaN,NaN,$2100,NaN,This course examines the intersection of psych...,SHS,Summer Pre-College Programs,2018.0,Summer,Summer2018,2017_2018,Forensic Psychology
2,0 Credits,SHS 0013,NaN,NaN,$2100,NaN,"Spend a week in the world of nursing, learning...",SHS,Summer Pre-College Programs,2018.0,Summer,Summer2018,2017_2018,Nursing: The Possibilities Are Endless!
3,NaN,AY 0390B,NaN,NaN,NaN,NaN,NaN,AY,Anthropology,2017.0,Fall,Fall2017,2017_2018,Special Topics: North American Indians
4,NaN,AS 0405A,NaN,NaN,NaN,NaN,NaN,AS,American Studies,2018.0,Summer,Summer2018,2017_2018,"Special Topics: Study Away: Newport, Rhode Isl..."
5,NaN,BI 0107X,NaN,NaN,NaN,NaN,NaN,BI,Biology,2017.0,Fall,Fall2017,2017_2018,Human Anatomy and Physiology Lab I
6,NaN,SL 0540A,NaN,NaN,NaN,NaN,NaN,SL,TESOL and Bilingual Education,2017.0,Fall,Fall2017,2017_2018,Special Topics in English Acquisition Pedagogy...
7,NaN,RS 0299C,NaN,NaN,NaN,NaN,NaN,RS,Religious Studies,2017.0,Fall,Fall2017,2017_2018,Special Topics: Tradition and the Spirit of Pl...
8,NaN,PH 0299D,NaN,NaN,NaN,NaN,NaN,PH,Philosophy,2017.0,Fall,Fall2017,2017_2018,Special Topics: Philosophy as a Way of Life
9,NaN,MA 0495C,NaN,NaN,NaN,NaN,NaN,MA,Mathematics,2018.0,Summer,Summer2018,2017_2018,Special Topics: Cryptography
10,NaN,FE 0001,NaN,NaN,NaN,NaN,NaN,FE,First Year Experience,2017.0,Fall,Fall2017,2017_2018,First Year Experience
11,NaN,FE 0002,NaN,NaN,NaN,NaN,NaN,FE,First Year Experience,2017.0,Fall,Fall2017,2017_2018,Transfer Student Experience

In [26]:
df1.credits.isna().sum()

9

In [27]:
df1[df1.credits.isna() == True] = 3

In [223]:
IMPORT_COURSE_CATALOG1 = pd.read_csv("CourseCatalog2017_2018_clean2.csv")
IMPORT_COURSE_CATALOG2 = pd.read_csv('CourseCatalog2017_2018-Copy1.csv')

df1 = pd.concat([IMPORT_COURSE_CATALOG1, IMPORT_COURSE_CATALOG2] ,sort=True)

In [28]:
df1.to_csv("CourseCatalog2017_2018_clean2.csv")