<img src="https://i.imgur.com/SsfgzAq.png" width="50%"/>

## Building the CourseDataWarehouse:

__Creating CourseDataWarehouse.db__

In [11]:

%load_ext sql

%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [22]:

%%sql
/* Attaching  CourseData.db to CourseDataWarehouse.db */
ATTACH 'CourseData.db' AS CDDB

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [16]:
%%sql
/* Execute a test query  */
select * from CDDB.PROGRAMS LIMIT 1

 * sqlite:///CourseDataWarehouse.db
Done.

[(1, 'AN', 'Asian Studies')]

__Create CourseDataWarehouse tables based on our [fact table](./docs/fact-table-management.pdf)__

In [4]:
%%sql

DROP TABLE IF EXISTS PROGRAMS_DIM;
DROP TABLE IF EXISTS LOCATIONS_DIM;
DROP TABLE IF EXISTS TIMES_DIM;
DROP TABLE IF EXISTS FACULTY_DIM;
DROP TABLE IF EXISTS COURSE_CATALOGS_DIM;
DROP TABLE IF EXISTS COURSES_FACT;





vacuum; 

CREATE TABLE PROGRAMS_DIM (
    PID INTEGER NOT NULL PRIMARY KEY,
    program_code TEXT NOT NULL,
    program_name TEXT NOT NULL
);


CREATE TABLE LOCATIONS_DIM (
    LID INTEGER PRIMARY KEY,
    location TEXT ,
    BuildingName TEXT

);


CREATE TABLE FACULTY_DIM (
    FID  INTEGER NOT NULL PRIMARY KEY,
    instructor_fname TEXT NOT NULL,
    instructor_lname TEXT NOT NULL
);


CREATE TABLE COURSE_CATALOGS_DIM (
    CID INTEGER PRIMARY KEY,

    CatalogYear TEXT NULL,
    Credits TEXT  NULL,
    Prereqs TEXT,
    Coreqs TEXT,
    Fees INTEGER,
    Description TEXT,
    Attributes TEXT
);



CREATE TABLE COURSES_FACT (
    CID INTEGER NULL ,
    CRN INTEGER NOT NULL,
    SEMESTER TEXT NOT NULL ,
    YEAR INTEGER NOT NULL,
    Title TEXT  NULL,
    SECTION TEXT NOT NULL,
    Act INTEGER,
    Cap INTEGER,
    Rem INTEGER, 
    timecodes TEXT,
    PID INTEGER  NULL,
    LID INTEGER  NULL,
    FID INTEGER  NULL,
   Catalog_ID  TEXT NULL ,
    FOREIGN KEY (PID) REFERENCES PROGRAMS_DIM (PID),
    FOREIGN KEY (LID) REFERENCES LOCATIONS_DIM (LID),
    FOREIGN KEY (FID) REFERENCES FACULTY_DIM (FID),
    FOREIGN KEY (CID) REFERENCES COURSE_CATALOGS_DIM (CID)
);

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

__Populate the fact table tables from the attached database tables__

In [6]:
%%sql 


INSERT INTO PROGRAMS_DIM ( program_name, program_code)
SELECT DISTINCT  program_name, program_code
FROM CDDB.PROGRAMS;


INSERT INTO LOCATIONS_DIM (location ,BuildingName )
SELECT  location , BuildingName
FROM CDDB.LOCATION;


INSERT INTO FACULTY_DIM (instructor_fname , instructor_lname)
SELECT  DISTINCT instructor_fname , instructor_lname
FROM CDDB.FACULTY;


INSERT INTO COURSE_CATALOGS_DIM (CatalogYear, credits, Prereqs, Coreqs, Fees, Description, Attributes)
SELECT CDDB.COURSE.CatalogYear , credits, prereqs, coreqs, fees, description, attributes
FROM CDDB.COURSE;



INSERT INTO COURSES_FACT (Catalog_ID , CRN, SEMESTER , YEAR , TITLE, SECTION, ACT, CAP,REM, TIMECODES, PID, LID, FID, CID)
SELECT DISTINCT CDDB.COURSE_OFFERING.Catalog_ID, CDDB.CLASS_MEETINGS.CRN, CDDB.CLASS_MEETINGS.SEMESTER , CDDB.CLASS_MEETINGS.YEAR, CDDB.COURSE_OFFERING.title, CDDB.COURSE_OFFERING.SECTION, act, cap, rem, timecodes, PROGRAMS_DIM.PID, LOCATIONS_DIM.LID, FID,CDDB.COURSE.CID
FROM CDDB.COURSE_OFFERING
     JOIN CDDB.CLASS_MEETINGS USING  (COID)
    left JOIN LOCATIONS_DIM USING (LID)
     left JOIN CDDB.COURSE USING (CID)
    left JOIN PROGRAMS_DIM USING (PID)
    left JOIN FACULTY_DIM USING (FID)
    left JOIN COURSE_CATALOGS_DIM USING (CID);

 * sqlite:///CourseDataWarehouse.db
92 rows affected.
207 rows affected.
1104 rows affected.
6696 rows affected.
13756 rows affected.

[]

In [23]:
%%sql
-- Detach Database --
DETACH DATABASE 'CDDB';

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [25]:
%%sql
/* Execute a test query  */
select * from COURSES_FACT LIMIT 10

 * sqlite:///CourseDataWarehouse.db
Done.

[(None, 70384, 'Fall', 2014, 'Introduction to Financial Accounting', 'C01', 31, 0, -31, "['TF 0800am-0915am 09/02-12/08 DSB 105']", None, 1, 1, 'AC 0011'),
 (None, 70385, 'Fall', 2014, 'Introduction to Financial Accounting', 'C02', 31, 0, -31, "['TF 0930am-1045am 09/02-12/08 DSB 105']", None, 1, 1, 'AC 0011'),
 (None, 70382, 'Fall', 2014, 'Introduction to Financial Accounting', 'C03', 31, 0, -31, "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", None, 1, 1, 'AC 0011'),
 (None, 71123, 'Fall', 2014, 'Introduction to Financial Accounting', 'J', 32, 30, -2, "['TF 0200pm-0315pm 09/02-12/08 DSB 105']", None, 1, 4, 'AC 0011'),
 (None, 71208, 'Fall', 2014, 'Introduction to Financial Accounting', 'K', 34, 30, -4, "['TF 0330pm-0445pm 09/02-12/08 DSB 105']", None, 1, 4, 'AC 0011'),
 (None, 71763, 'Fall', 2014, 'Introduction to Financial Accounting', 'L', 31, 30, -1, "['MR 1100am-1215pm 09/02-12/08 DSB 105']", None, 1, 5, 'AC 0011'),
 (None, 72615, 'Fall', 2014, 'Introduction to Financial Accounting', 'M', 31, 30, -1, "['MR 1230pm-0145pm 09/02-12/08 DSB 105']", None, 1, 5, 'AC 0011'),
 (None, 70387, 'Fall', 2014, 'Introduction to Financial Accounting', 'O', 31, 30, -1, "['TR 0500pm-0615pm 09/02-12/08 DSB 105']", None, 1, 7, 'AC 0011'),
 (None, 72348, 'Fall', 2014, 'Fixed Income Securities', '01', 13, 25, 12, "['W 0630pm-0930pm 09/03-12/17 DSB 105']", None, 1, 244, 'FI 0570'),
 (None, 70662, 'Fall', 2014, 'Intro to Management', 'A', 30, 28, -2, "['MR 0930am-1045am 09/02-12/08 DSB 105']", None, 1, 294, 'MG 0101')]

In [24]:
%%sql
vacuum;

 * sqlite:///CourseDataWarehouse.db
Done.

[]